<h1>Listing lights</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lights.each do |light| %>
      <tr>
        <td><%= light.key %></td>
        <td><%= light.name %></td>
        <td><%= link_to 'Show', light %></td>
        <td><%= link_to 'Edit', edit_light_path(light) %></td>
        <td><%= link_to 'Destroy', light, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Light', new_light_path %>
